.color-bends-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  inset: 0;
}

.color-bends-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}