.gradualBlur {
  isolation: isolate;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.gradualBlurPage {
  pointer-events: none;
}

.gradualBlurParent {
  overflow: hidden;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner > div {
  backdrop-filter: inherit;
  -webkit-backdrop-filter: inherit;
}

@supports not (backdrop-filter: blur(1px)) {
  .inner > div {
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
  }
}

.fixedFull {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
